html {
    box-sizing: border-box;
    background-color: slategray;
}

/* Classes */
.viewport {

}

.display {
    height: 20px;
    position: relative;
}

.title {
    text-align: center;
}

.calculator-container {
    width: 200px;
    padding: 2px;
    border: solid black 5px;
    margin: 0 auto;
    margin-top: 5px;
}

.value {
    background-color: white;
    text-align: right;
    font-size: 2em;
    height: 1em;
    width: 200px;
    margin-bottom: 10px;
}

.value:after {
    width: 2px;
    height: 1em;
    margin-bottom: -4px;
    content: '';
    background: black;
    opacity: 0;
    display: inline-block;
    animation: blink .3s linear infinite alternate;
}

@keyframes blink {
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: stretch;
    height: 300px;
    width: 200px;
    margin-top: 20px;
}

.button {
    border: thin solid black;
    outline: none;
    flex-basis: 25%;
}

.AC {
    flex-basis: 75%;
}

.button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.button.equals {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.button.number {
    background-color: #E47929;
}

.button.operator {
    background-color: #5A4D43;
}

.button:active {
    /* //change this shitty shit */
    transform: scale(0.9);
    transition: all 0s;
}